/* Version pc */

@media (min-width: 992px) {

    @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
    }

    /* general */

    body {
        margin: 0;
    }

    h1, h2, h3, h4, h5 {
        text-align: center;
    }

    .couleur {
        background-color: #579c87;
        color: #dbc153;
    }

    #global {
        margin: 0;
        padding: 0;
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    a {
        text-decoration: none;
        color: #dbc153;
    }

    /* header */

    header {
        margin-top: 0;
        margin-bottom: 3%;
        height: 100px;
    }

    h1 {
        height: 100px;
        margin: 0;
        padding: 20px 0;
        font-size: 2.5rem;
    }

    /* partie central */

    /* Premier menu */

    #note_enchantee {
        width: 595px;
        height: 842px;
        margin-left: auto;
        margin-right: auto;
        background-color: #fcdfdb;
        margin-bottom: 100px;
        font-style: italic;
    }

    .debut_note {
        padding-top: 5%;
        padding-bottom: 2%;
        text-align: center;
    }
    
    i {
        color: red;
    }

    .menu_note {
        padding-bottom: 5%;
    }

    .menu_note h4 {
        font-size: 24px;
        border-bottom: 1px solid #000;
        line-height: 0.1em;
        margin: 10px 50px 20px 50px;
        position: relative;
    }

    .souligner:before {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: -12px;
        left: auto;
        visibility: hidden;
        transition: all 1s ease-in-out;
    }

    .souligner_titre_note:before {
        background-color: black;
    }

    span#prelude_souligner:hover:before {
        visibility: visible;
        width: 80px;
    }

    span#point_souligner:hover:before {
        visibility: visible;
        width: 135px;
    }

    span#mouvement_souligner:hover:before {
        visibility: visible;
        width: 170px;
    }

    .menu_note h4 .note_entreeplatdessert {
        background: #fcdfdb;
        padding:0 50px;
        text-align: center;
    }

    .fin_note h5 {
        margin-top: 5px;
        padding-left: 10px;
        font-size: 24px;
    }

    .fin_note {
        justify-content: center;
        display: flex;
    }

    #note_enchantee .prix {
        float: right;
        padding-right: 50px;
    }

    #note_enchantee p {
        padding-left: 50px;
        text-align: left;
    }

    /* second menu */

    #chic_francaise {
        width: 595px;
        height: 842px;
        margin-left: auto;
        margin-right: auto;
        background-color: #fff5fe;
        margin-bottom: 100px;
    }

    .debut_chic {
        padding-top: 5%;
        padding-bottom: 10%;
        text-align: center;
    }

    .debut_chic h3 {
        background: -webkit-linear-gradient(left, #d3904b, #a277c6, #6e4ccc);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-left: auto;
        margin-right: auto;
        width: 220px;
        font-size: 24px;
    }

    .menu_chic {
        padding-bottom: 5%;
    }

    .menu_chic h4 .chic_entreeplatdessert {
        padding:0 50px;
        text-align: center;
        background-color: #fff5fe;
    }

    #chic_francaise .prix {
        float: right;
        padding-right: 50px;
    }

    #chic_francaise p {
        padding-left: 50px;
        text-align: left;
    }

    #chic_entree {
        color: #d3904b;
    }

    #chic_entree h4 {
        font-size: 24px;
        border-bottom: 1px solid #d3904b;
        line-height: 0.1em;
        margin: 10px 50px 20px 50px;
        position: relative;
    }

    span#appetit_souligner:hover:before {
        visibility: visible;
        background-color: #d3904b;
        width: 255px;
    }

    #chic_plat {
        color: #a277c6;
    }

    #chic_plat h4 {
        font-size: 24px;
        border-bottom: 1px solid #a277c6;
        line-height: 0.1em;
        margin: 10px 50px 20px 50px;
        position: relative;
    }

    span#plaisir_souligner:hover:before {
        visibility: visible;
        background-color: #a277c6;
        width: 195px;
    }

    #chic_dessert {
        color: #6e4ccc;
    }

    #chic_dessert h4 {
        font-size: 24px;
        border-bottom: 1px solid #6e4ccc;
        line-height: 0.1em;
        margin: 10px 50px 20px 50px;
        position: relative;
    }

    span#gourmandise_souligner:hover:before {
        visibility: visible;
        background-color: #6e4ccc;
        width: 235px;
    }

    /* troisième menu */

    #delice_papille {
        width: 595px;
        height: 842px;
        margin-left: auto;
        margin-right: auto;
        background-color: #edefef;
        margin-bottom: 100px;
        font-style: italic;
    }

    .debut_delice {
        padding-top: 5%;
        padding-bottom: 2%;
        text-align: center;
    }

    .debut_delice h3 {
        background: -webkit-linear-gradient(left, #0228dd, #3f8ff2, #43aaf7);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-left: auto;
        margin-right: auto;
        width: 280px;
        font-size: 32px;
    }

    .menu_delice {
        padding-bottom: 5%;
    }

    #delice_entree h4 {
        font-size: 24px;
        border-bottom: 1px solid #0228dd;
        line-height: 0.1em;
        margin: 10px 50px 20px 50px;
        position: relative;
    }

    span#commencer_souligner:hover:before {
        visibility: visible;
        background-color: #0228dd;
        width: 220px;
    }

    #delice_plat h4 {
        font-size: 24px;
        border-bottom: 1px solid #3f8ff2;
        line-height: 0.1em;
        margin: 10px 50px 20px 50px;
        position: relative;
    }

    span#continuer_souligner:hover:before {
        visibility: visible;
        background-color: #3f8ff2;
        width: 205px;
    }

    #delice_dessert h4 {
        font-size: 24px;
        border-bottom: 1px solid #43aaf7;
        line-height: 0.1em;
        margin: 10px 50px 20px 50px;
        position: relative;
    }

    span#terminer_souligner:hover:before {
        visibility: visible;
        background-color: #43aaf7;
        width: 190px;
    }

    .menu_delice h4 .delice_entreeplatdessert {
        background: #edefef;
        padding:0 50px;
        text-align: center;
    }

    #delice_papille .prix {
        float: right;
        padding-right: 50px;
    }

    #delice_papille p {
        padding-left: 50px;
        text-align: left;
    }

    /* quatrième menu */

    #palette_gout {
        width: 595px;
        height: 842px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
        font-style: italic;
    }

    .debut_palette {
        padding-top: 5%;
        padding-bottom: 2%;
        text-align: center;
    }

    .debut_palette h3 {
        background: -webkit-linear-gradient(left, #41963c, #cdfca2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        font-size: 32px;
    }

    .menu_palette {
        padding-bottom: 5%;
    }

    .menu_palette h4 {
        font-size: 24px;
        border-bottom: 1px solid #fff;
        line-height: 0.1em;
        margin: 10px 50px 20px 50px;
        background: -webkit-linear-gradient(left, #41963c, #cdfca2);
        position: relative;
    }

    .souligner_titre_palette:before {
        background: -webkit-linear-gradient(left, #41963c, #cdfca2);
    }

    span#esquisse_souligner:hover:before {
        visibility: visible;
        width: 90px;
    }

    span#oeuvre_souligner:hover:before {
        visibility: visible;
        width: 175px;
    }

    span#sommet_souligner:hover:before {
        visibility: visible;
        width: 190px;
    }

    .menu_palette h4 .palette_entreeplatdessert {
        background: #fff;
        padding:0 50px;
        text-align: center;
    }

    #palette_gout .prix {
        float: right;
        padding-right: 50px;
    }

    #palette_gout p {
        padding-left: 50px;
        text-align: left;
    }

    /* footer */

    footer {
        height: 50px;
        position: fixed;
        bottom: 0;
        width: 1000px;
        font-weight: 500;
        font-size: 24px;
    }

    #mention p {
        margin: 0;
        padding: 10px 0;
        text-align: left;
        padding-left: 20px;
        float: left;
        
    }

    #mention p:hover {
        animation: shake 0.5s;
        animation-iteration-count: infinite;
    }

    #contact p {
        margin: 0;
        padding: 10px 0;
        text-align: right;
        padding-right: 20px;
        float: right;
    }

    #contact p:hover {
        animation: shake 0.5s;
        animation-iteration-count: infinite;
    }
}

/* Version tablette */

@media (max-width: 991px) and (min-width: 768px) {

    @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
      }
   
    /* general */

    body {
        margin: 0;
    }

    #global {
        margin: 0;
        padding: 0;
    }

    .couleur {
        background-color: #579c87;
        color: #dbc153;
    }

    h1, h2, h3, h4, h5 {
        text-align: center;
    }

    p {
        font-weight: 500;
        font-size: 24px;
    }

    a {
        text-decoration: none;
        color: #dbc153;
    }

    /* header */

    header {
        margin-top: 0;
        margin-bottom: 3%;
        height: 100px;
    }

    h1 {
        height: 100px;
        text-align: center;
        margin: 0;
        padding: 20px 0;
        font-size: 2.5rem;
    }

    /* partie central */

    /* Premier menu */

    #note_enchantee {
        background-color: #fcdfdb;
        margin-bottom: 100px;
        font-style: italic;
    }

    .debut_note {
        padding-top: 5%;
        padding-bottom: 2%;
        text-align: center;
    }
    
    i {
        color: red;
    }

    .menu_note {
        padding-bottom: 5%;
    }

    .menu_note h4 {
        font-size: 24px;
        border-bottom: 1px solid #000;
        line-height: 0.1em;
        margin: 10px 50px 20px 50px;
    }

    .menu_note h4 .note_entreeplatdessert {
        background: #fcdfdb;
        padding:0 50px;
        text-align: center
    }

    .fin_note h5 {
        margin-top: 5px;
        padding-left: 10px;
        font-size: 24px;
    }

    .fin_note {
        height: 80px;
        justify-content: center;
        display: flex;
    }

    #note_enchantee .prix {
        float: right;
        padding-right: 50px;
    }

    #note_enchantee p {
        padding-left: 50px;
        text-align: left;
    }

       /* second menu */

       #chic_francaise {
        background-color: #fff5fe;
        margin-bottom: 100px;
    }

    .debut_chic {
        padding-top: 5%;
        padding-bottom: 10%;
        text-align: center;
    }

    .debut_chic h3 {
        background: -webkit-linear-gradient(left, #d3904b, #a277c6, #6e4ccc);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-left: auto;
        margin-right: auto;
        width: 220px;
        font-size: 24px;
    }

    .menu_chic {
        padding-bottom: 5%;
    }

    .menu_chic h4 .chic_entreeplatdessert {
        padding:0 50px;
        text-align: center;
        background-color: #fff5fe;
    }

    #chic_francaise .prix {
        float: right;
        padding-right: 50px;
    }

    #chic_francaise p {
        padding-left: 50px;
        text-align: left;
    }

    #chic_entree {
        color: #d3904b;
    }

    #chic_entree h4 {
        font-size: 24px;
        border-bottom: 1px solid #d3904b;
        line-height: 0.1em;
        margin: 10px 50px 20px 50px;
    }

    #chic_plat {
        color: #a277c6;
    }

    #chic_plat h4 {
        font-size: 24px;
        border-bottom: 1px solid #a277c6;
        line-height: 0.1em;
        margin: 10px 50px 20px 50px;
    }

    #chic_dessert {
        color: #6e4ccc;
    }

    #chic_dessert h4 {
        font-size: 24px;
        border-bottom: 1px solid #6e4ccc;
        line-height: 0.1em;
        margin: 10px 50px 20px 50px;
    }

    /* troisième menu */

    #delice_papille {
        background-color: #edefef;
        margin-bottom: 100px;
        font-style: italic;
    }

    .debut_delice {
        padding-top: 5%;
        padding-bottom: 2%;
        text-align: center;
    }

    .debut_delice h3 {
        background: -webkit-linear-gradient(left, #0228dd, #3f8ff2, #43aaf7);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-left: auto;
        margin-right: auto;
        width: 280px;
        font-size: 32px;
    }

    .menu_delice {
        padding-bottom: 5%;
    }

    #delice_entree h4 {
        font-size: 24px;
        border-bottom: 1px solid #0228dd;
        line-height: 0.1em;
        margin: 10px 50px 20px 30px;
    }

    #delice_plat h4 {
        font-size: 24px;
        border-bottom: 1px solid #3f8ff2;
        line-height: 0.1em;
        margin: 10px 50px 20px 30px;
    }

    #delice_dessert h4 {
        font-size: 24px;
        border-bottom: 1px solid #43aaf7;
        line-height: 0.1em;
        margin: 10px 50px 20px 30px;
    }

    .menu_delice h4 .delice_entreeplatdessert {
        background: #edefef;
        padding:0 50px;
        text-align: center;
    }

    #delice_papille .prix {
        float: right;
        padding-right: 50px;
    }

    #delice_papille p {
        padding-left: 30px;
        text-align: left;
    }

    /* quatrième menu */

    #palette_gout {
        margin-bottom: 100px;
        font-style: italic;
    }

    .debut_palette {
        padding-top: 5%;
        padding-bottom: 2%;
        text-align: center;
    }

    .debut_palette h3 {
        background: -webkit-linear-gradient(left, #41963c, #cdfca2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        font-size: 32px;
    }

    .menu_palette {
        padding-bottom: 5%;
    }

    .menu_palette h4 {
        font-size: 24px;
        border-bottom: 1px solid #fff;
        line-height: 0.1em;
        margin: 10px 50px 20px 50px;
        background: -webkit-linear-gradient(left, #41963c, #cdfca2);
    }

    .menu_palette h4 .palette_entreeplatdessert {
        background: #fff;
        padding:0 50px;
        text-align: center;
    }

    #palette_gout .prix {
        float: right;
        padding-right: 30px;
    }

    #palette_gout p {
        padding-left: 20px;
        text-align: left;
    }

    /* footer */

    footer {
        height: 50px;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    #mention p {
        margin: 0;
        padding: 10px 0;
        text-align: left;
        padding-left: 20px;
        float: left;
    }

    #mention p:hover {
        animation: shake 0.5s;
        animation-iteration-count: infinite;
    }

    #contact p {
        margin: 0;
        padding: 10px 0;
        text-align: right;
        padding-right: 20px;
        float: right;
    }

    #contact p:hover {
        animation: shake 0.5s;
        animation-iteration-count: infinite;
    }
}

/* version portable */

@media (max-width: 767px) {

    @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
      }
  
    /* general */

    body {
        margin: 0;
    }

    .couleur {
        background-color: #579c87;
        color: #dbc153;
    }

    h1, h2, h3, h4, h5 {
        text-align: center;
    }

    p {
        font-weight: 500;
        font-size: 24px;
    }

    a {
        text-decoration: none;
        color: #dbc153;
    }

    /* header */

    header {
        margin-top: 0;
        margin-bottom: 3%;
        height: 100px;
    }

    h1 {
        height: 100px;
        text-align: center;
        margin: 0;
        padding: 20px 0;
        font-size: 2.5rem;
    }

    /* partie central */

    /* Premier menu */

    #note_enchantee {
        background-color: #fcdfdb;
        margin-bottom: 150px;
        font-style: italic;
    }

    .debut_note {
        padding-top: 5%;
        padding-bottom: 2%;
        text-align: center;
    }
    
    i {
        color: red;
    }

    .menu_note {
        padding-bottom: 5%;
    }

    .menu_note h4 {
        font-size: 24px;
        border-bottom: 1px solid #000;
        line-height: 0.1em;
        padding-bottom: 20px;
    }

    .menu_note h4 .note_entreeplatdessert {
        background: #fcdfdb;
        padding:0 50px;
        text-align: center
    }

    .fin_note h5 {
        margin-top: 5px;
        padding-left: 10px;
        font-size: 24px;
    }

    .fin_note {
        height: 80px;
        justify-content: center;
        display: flex;
    }

    #note_enchantee .prix {
        padding-left: 20px;
    }

    #note_enchantee p {
        padding: 0 30px;
        text-align: left;
    }

       /* second menu */

       #chic_francaise {
        background-color: #fff5fe;
        margin-bottom: 150px;
    }

    .debut_chic {
        padding-top: 5%;
        padding-bottom: 10%;
        text-align: center;
    }

    .debut_chic h3 {
        background: -webkit-linear-gradient(left, #d3904b, #a277c6, #6e4ccc);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-left: auto;
        margin-right: auto;
        width: 220px;
        font-size: 24px;
    }

    .menu_chic {
        padding-bottom: 5%;
    }

    .menu_chic h4 .chic_entreeplatdessert {
        padding:0 50px;
        text-align: center;
        background-color: #fff5fe;
    }

    #chic_francaise .prix {
        padding-left: 20px;
    }

    #chic_francaise p {
        padding: 0 30px;
        text-align: left;
    }

    #chic_entree {
        color: #d3904b;
    }

    #chic_entree h4 {
        font-size: 16px;
        border-bottom: 1px solid #d3904b;
        line-height: 0.1em;
        padding-bottom: 20px; 
    }

    #chic_plat {
        color: #a277c6;
    }

    #chic_plat h4 {
        font-size: 16px;
        border-bottom: 1px solid #a277c6;
        line-height: 0.1em;
        padding-bottom: 20px; 
    }

    #chic_dessert {
        color: #6e4ccc;
    }

    #chic_dessert h4 {
        font-size: 16px;
        border-bottom: 1px solid #6e4ccc;
        line-height: 0.1em;
        padding-bottom: 20px;
    }

    /* troisième menu */

    #delice_papille {
        background-color: #edefef;
        margin-bottom: 150px;
        font-style: italic;
    }

    .debut_delice {
        padding-top: 5%;
        padding-bottom: 2%;
        text-align: center;
    }

    .debut_delice h3 {
        background: -webkit-linear-gradient(left, #0228dd, #3f8ff2, #43aaf7);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-left: auto;
        margin-right: auto;
        width: 280px;
        font-size: 32px;
    }

    .menu_delice {
        padding-bottom: 5%;
    }

    #delice_entree h4 {
        font-size: 24px;
        border-bottom: 1px solid #0228dd;
        line-height: 0.1em;
        padding-bottom: 20px;
    }

    #delice_plat h4 {
        font-size: 24px;
        border-bottom: 1px solid #3f8ff2;
        line-height: 0.1em;
        padding-bottom: 20px;
    }

    #delice_dessert h4 {
        font-size: 24px;
        border-bottom: 1px solid #43aaf7;
        line-height: 0.1em;
        padding-bottom: 20px;
    }

    .menu_delice h4 .delice_entreeplatdessert {
        background: #edefef;
        padding:0 50px;
        text-align: center;
    }

    #delice_papille .prix {
        padding-left: 20px;
    }

    #delice_papille p {
        padding: 0 20px;
        text-align: left;
    }
    
    /* quatrième menu */

    #palette_gout {
        margin-bottom: 150px;
        font-style: italic;
    }

    .debut_palette {
        padding-top: 5%;
        padding-bottom: 2%;
        text-align: center;
    }

    .debut_palette h3 {
        background: -webkit-linear-gradient(left, #41963c, #cdfca2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        font-size: 32px;
    }

    .menu_palette {
        padding-bottom: 5%;
    }

    .menu_palette h4 {
        font-size: 24px;
        border-bottom: 1px solid #41963c;
        line-height: 0.1em;
        padding-bottom: 5%;
    }

    .menu_palette h4 .palette_entreeplatdessert {
        background: #fff;
        padding:0 50px;
        text-align: center;
    }

    #palette_gout .prix {
        padding-left: 20px;
    }

    #palette_gout p {
        padding: 0 30px;
        text-align: left;
    }

    /* footer */

    footer {
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    #mention p {
        margin: 0;
        padding: 10px 0;
    }

    #mention p:hover {
        animation: shake 0.5s;
        animation-iteration-count: infinite;
    }

    #contact p {
        margin: 0;
        padding: 10px 0;
    }

    #contact p:hover {
        animation: shake 0.5s;
        animation-iteration-count: infinite;
    }

}  




