/* Version pc */

/* wiggle footer */

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* Points de suspension */

@keyframes PtsSuspension {
    0%   { content: ''; }
    25%  { content: '.'; }
    50%  { content: '..'; }
    75%  { content: '...'; }
    100% { content: ''; }
}

/* general */

body {
    margin: 0;
}

.couleur {
    background-color: #579c87;
    color: #dbc153;
}

#global {
    margin: 0;
    padding: 0;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    }

a {
    text-decoration: none;
    color: #dbc153;
}


h1, h2, h3, h4, h5 {
    text-align: center;
}

/* header */

header {
    margin-top: 0;
    margin-bottom: 3%;
    height: 100px;
}

h1 {
    height: 100px;
    margin: 0;
    padding: 20px 0;
    font-size: 2.5rem;
}

/* partie central */

/* index */

#menus {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#menus p{
    font-size: 24px;
    font-weight: 500;
}
.menus {
    width: 396.7px;
    height: 561.3px;
    margin-bottom: 5%;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenu_menu {
    transition-duration: 1s; 
}

.contenu_menu:hover {
    transform: scale(1.25);
    opacity: 0.5;

}

/* menu 1 */

#menu1 {
    background-color: #fbdcdb;
}

#menu1 a { 
    color: black;
}

#menu1 i {
    color: red;
}

#contenu_menu1 {
    font-style: italic;
}

#contenu_menu1 p {
    margin: 0;
    font-family: "Devonshire";
    font-weight: normal;
}

#contenu_menu1 h2 {
    font-size: 32px;
}

/* menu 2 */

#menu2 {
    background-color: #fff5fe;
}

#contenu_menu2 p {
    background: -webkit-linear-gradient(left, #d3904b, #a277c6, #6e4ccc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 210px;
    margin-left: auto;
    margin-right: auto;
}

#contenu_menu2 h2 {
    color: #c77412;
    font-size: 32px;
}

/* menu 3 */

#menu3 {
    background-color: #fbfbfb;
    font-family: "Dancing Script";
}

#contenu_menu3 p {
    background: -webkit-linear-gradient(left, #0228dd, #3f8ff2, #43aaf7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 210px;
    margin-left: auto;
    margin-right: auto;
}

#contenu_menu3 h2 {
    color: #0a88fb;
    font-size: 32px;
}

/* menu 4 */

#menu4 {
    background-color: #fdfffd;
    font-family: 'Kaushan Script';
}

#contenu_menu4 p {
    background: -webkit-linear-gradient(left, #41963c, #cdfca2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 210px;
    margin-left: auto;
    margin-right: auto;
}

#contenu_menu4 h2 {
    color: #72bf56;
    font-size: 32px;
}

/* prochainement */

#prochainement {
    text-align: center;
    width: 220px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    margin-bottom: 100px;
}

#prochainement p:after {
    display: inline-block;
    animation: PtsSuspension steps(1,end) 1s infinite;
    content: '';
}

#prochainement p {
    font-size: 24px;
    font-weight: 500;
    padding-top: 10px;
    padding-left: 30px;
    margin: 0;
    position: absolute;
}

/* Partie Menu */

.padding-bottom {
    padding-bottom: 5%;
}

/* Premier menu */

#note_enchantee {
    width: 595px;
    height: 842px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fcdfdb;
    margin-bottom: 100px;
    font-style: italic;
}

.debut_note {
    padding-top: 5%;
    padding-bottom: 2%;
    text-align: center;
}

.debut_note h3{
    margin: 0;
    padding-bottom: 20px;
    font-family: "Devonshire";
    font-size: 32px;
    font-weight: normal;
}

i {
    color: red;
}

.menu_note h4 {
    font-size: 24px;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 50px 20px 50px;
    position: relative;
}

.souligner:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -12px;
    left: auto;
    visibility: hidden;
    transition: all 1s ease-in-out;
}

.souligner_titre_note:before {
    background-color: black;
}

span#prelude_souligner:hover:before {
    visibility: visible;
    width: 80px;
}

span#point_souligner:hover:before {
    visibility: visible;
    width: 135px;
}

span#mouvement_souligner:hover:before {
    visibility: visible;
    width: 170px;
}

.menu_note h4 .note_entreeplatdessert {
    background: #fcdfdb;
    padding:0 50px;
    text-align: center;
}

.fin_note h5 {
    margin-top: 5px;
    padding-left: 10px;
    font-family: "Devonshire";
    font-size: 24px;
    font-weight: normal;
}

.fin_note {
    justify-content: center;
    display: flex;
}

#note_enchantee .prix {
    float: right;
    padding-right: 50px;
}

#note_enchantee p {
    padding-left: 50px;
    text-align: left;
}

/* second menu */

#chic_francaise {
    width: 595px;
    height: 842px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff5fe;
    margin-bottom: 100px;
}

.debut_chic {
    padding-top: 5%;
    padding-bottom: 10%;
    text-align: center;
}

.debut_chic h3 {
    background: -webkit-linear-gradient(left, #d3904b, #a277c6, #6e4ccc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    font-size: 24px;
}

.menu_chic h4 .chic_entreeplatdessert {
    padding:0 50px;
    text-align: center;
    background-color: #fff5fe;
}

#chic_francaise .prix {
    float: right;
    padding-right: 50px;
}

#chic_francaise p {
    padding-left: 50px;
    text-align: left;
}

#chic_entree {
    color: #d3904b;
}

#chic_entree h4 {
    font-size: 24px;
    border-bottom: 1px solid #d3904b;
    line-height: 0.1em;
    margin: 10px 50px 20px 50px;
    position: relative;
}

span#appetit_souligner:hover:before {
    visibility: visible;
    background-color: #d3904b;
    width: 255px;
}

#chic_plat {
    color: #a277c6;
}

#chic_plat h4 {
    font-size: 24px;
    border-bottom: 1px solid #a277c6;
    line-height: 0.1em;
    margin: 10px 50px 20px 50px;
    position: relative;
}

span#plaisir_souligner:hover:before {
    visibility: visible;
    background-color: #a277c6;
    width: 195px;
}

#chic_dessert {
    color: #6e4ccc;
}

#chic_dessert h4 {
    font-size: 24px;
    border-bottom: 1px solid #6e4ccc;
    line-height: 0.1em;
    margin: 10px 50px 20px 50px;
    position: relative;
}

span#gourmandise_souligner:hover:before {
    visibility: visible;
    background-color: #6e4ccc;
    width: 235px;
}

/* troisième menu */

#delice_papille {
    width: 595px;
    height: 842px;
    margin-left: auto;
    margin-right: auto;
    background-color: #edefef;
    margin-bottom: 100px;
    font-style: italic;
}

.debut_delice {
    padding-top: 5%;
    padding-bottom: 2%;
    text-align: center;
}

.debut_delice h3 {
    background: -webkit-linear-gradient(left, #0228dd, #3f8ff2, #43aaf7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    font-size: 32px;
    font-family: "Dancing Script";
}

#delice_entree h4 {
    font-size: 24px;
    border-bottom: 1px solid #0228dd;
    line-height: 0.1em;
    margin: 10px 50px 20px 50px;
    position: relative;
}

span#commencer_souligner:hover:before {
    visibility: visible;
    background-color: #0228dd;
    width: 220px;
}

#delice_plat h4 {
    font-size: 24px;
    border-bottom: 1px solid #3f8ff2;
    line-height: 0.1em;
    margin: 10px 50px 20px 50px;
    position: relative;
}

span#continuer_souligner:hover:before {
    visibility: visible;
    background-color: #3f8ff2;
    width: 205px;
}

#delice_dessert h4 {
    font-size: 24px;
    border-bottom: 1px solid #43aaf7;
    line-height: 0.1em;
    margin: 10px 50px 20px 50px;
    position: relative;
}

span#terminer_souligner:hover:before {
    visibility: visible;
    background-color: #43aaf7;
    width: 190px;
}

.menu_delice h4 .delice_entreeplatdessert {
    background: #edefef;
    padding:0 50px;
    text-align: center;
}

#delice_papille .prix {
    float: right;
    padding-right: 50px;
}

#delice_papille p {
    padding-left: 50px;
    text-align: left;
}

/* quatrième menu */

#palette_gout {
    width: 595px;
    height: 842px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    font-style: italic;
}

.debut_palette {
    padding-top: 5%;
    padding-bottom: 2%;
    text-align: center;
}

.debut_palette h3 {
    background: -webkit-linear-gradient(left, #41963c, #cdfca2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    font-size: 32px;
    font-family: 'Kaushan Script';
}

.menu_palette h4 {
    font-size: 24px;
    border-bottom: 1px solid #fff;
    line-height: 0.1em;
    margin: 10px 50px 20px 50px;
    background: -webkit-linear-gradient(left, #41963c, #cdfca2);
    position: relative;
}

.souligner_titre_palette:before {
    background: -webkit-linear-gradient(left, #41963c, #cdfca2);
}

span#esquisse_souligner:hover:before {
    visibility: visible;
    width: 90px;
}

span#oeuvre_souligner:hover:before {
    visibility: visible;
    width: 175px;
}

span#sommet_souligner:hover:before {
    visibility: visible;
    width: 190px;
}

.menu_palette h4 .palette_entreeplatdessert {
    background: #fff;
    padding:0 50px;
    text-align: center;
}

#palette_gout .prix {
    float: right;
    padding-right: 50px;
}

#palette_gout p {
    padding-left: 50px;
    text-align: left;
}

/* Mentions légales */

#mention_legale {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    font-weight: 500;
}

/* footer */

footer {
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 1200px;
    font-weight: 500;
    font-size: 24px;
}

#mention p {
    margin: 0;
    padding: 10px 0;
    text-align: left;
    padding-left: 20px;
    float: left;
    
}

#mention p:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

#contact p {
    margin: 0;
    padding: 10px 0;
    text-align: right;
    padding-right: 20px;
    float: right;
}

#contact p:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}















