/* Version pc */

@media (min-width: 992px) {

    /* general */

    body {
        margin: 0;
    }

    .couleur {
        background-color: green;
        color: orange;
    }

    #global {
        margin: 0;
        padding: 0;
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    p {
        font-weight: 500;
        font-size: 24px;
    }

    /* header */

    header {
        margin-top: 0;
        margin-bottom: 3%;
        height: 100px;
    }

    h1 {
        height: 100px;
        text-align: center;
        margin: 0;
        padding: 20px 0;
        font-size: 2.5rem;
    }

    /* partie central */

    #menus {
        text-align: center;
    }

    img {
        width: 396.7px;
        height: 561.3px;
        margin-bottom: 5%;
        margin-left: 15px;
        margin-right: 15px;
        
    }

    #prochainement {
        text-align: center;
        width: 200px;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10%;
        margin-bottom: 5%;
    }

    #prochainement p {
        padding: 10px 0;
        margin: 0
    }

    /* footer */

    footer {
        margin-bottom: 5%;
        height: 50px;
    }

    #mention p {
        margin: 0;
        padding: 10px 0;
        text-align: left;
        padding-left: 20px;
        float: left;
    }

    #contact p {
        margin: 0;
        padding: 10px 0;
        text-align: right;
        padding-right: 20px;
        float: right;
    }
}

/* Version tablette */

@media (max-width: 991px) and (min-width: 768px) {
   
    /* general */

    body {
        margin: 0;
    }

    .couleur {
        background-color: green;
        color: orange;
    }

    p {
        font-weight: 500;
        font-size: 24px;
    }

    /* header */

    header {
        margin-top: 0;
        margin-bottom: 3%;
        height: 100px;
    }

    h1 {
        height: 100px;
        text-align: center;
        margin: 0;
        padding: 20px 0;
        font-size: 2.5rem;
    }

    /* partie central */

    #menus {
        text-align: center;
    }

    img {
        width: 297.5px;
        height: 421px;
        margin-bottom: 5%; 
        margin-left: 15px;
        margin-right: 15px;
    }

    #prochainement {
        text-align: center;
        width: 200px;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10%;
        margin-bottom: 5%;
    }

    #prochainement p {
        margin: 0;
        padding: 10px 0;
    }

    /* footer */

    footer {
        margin-bottom: 5%;
        height: 50px;
    }

    #mention p {
        margin: 0;
        padding: 10px 0;
        text-align: left;
        padding-left: 20px;
        float: left;
    }

    #contact p {
        margin: 0;
        padding: 10px 0;
        text-align: right;
        padding-right: 20px;
        float: right;
    }
}

/* version portable */

@media (max-width: 767px) {
  
    /* general */

    body {
        margin: 0;
    }

    .couleur {
        background-color: green;
        color: orange;
    }

    p {
        font-weight: 500;
        font-size: 24px;
    }

    /* header */

    header {
        margin-top: 0;
        margin-bottom: 3%;
        height: 100px;
    }

    h1 {
        height: 100px;
        text-align: center;
        margin: 0;
        padding: 20px 0;
        font-size: 2.5rem;
    }

    /* partie central */

    #menus {
        text-align: center;
    }

    img {
        width: 148.75px;
        height: 210.5px;
        margin-bottom: 5%;
        margin-left: 15px;
        margin-right: 15px;
    }

    #prochainement {
        text-align: center;
        width: 200px;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10%;
        margin-bottom: 5%;
    }

    #prochainement p {
        margin: 0;
        padding: 10px 0;
    }

    /* footer */

    footer {
        margin-bottom: 5%;
        text-align: center;
    }

    #mention p {
        margin: 0;
        padding: 10px 0;
    }

    #contact p {
        margin: 0;
        padding: 10px 0;
    }

}  




